$content-width: 1000px;
$breakpoint: 770px;
$nav-height: 70px;
$nav-background: #fff;
$nav-font-color: #0c0c0c;
$link-hover-color: #f8b500;



@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  font-family: 'Poppins';
}

.navigation {
  height: $nav-height;
  background: $nav-background;
}

.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

.brand {
  .fa {
    margin-right: 5px;
    font-size: medium;
  }

  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: bolder;


  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

nav {
  float: right;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      position: relative;

      a {
        display: block;
        padding: 10px 20px 0 20px;
        line-height: 50px;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;


        &::before {
          transition: 300ms;
          height: 5px;
          content: "";
          position: absolute;
          background-color: $link-hover-color;
          width: 0%;
          bottom: 0px;
        }

        &:hover::before {
          width: 70%;
        }

        &:not(:only-child):after {
          padding-left: 4px;

        }
      }

      // Dropdown list
      ul li {
        min-width: 190px;

        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}


.nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}

@media only screen and (max-width: $breakpoint) {
  #note {
    margin: 2px !important;
  }

  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: $nav-height 0 15px;

    ul {
      display: none;

      li {
        float: none;

        a {
          padding: 15px;
          line-height: 20px;

          &:hover::before {
            width: 20%;
          }
        }

        ul li a {
          padding-left: 30px;
        }
      }
    }
  }

  .nav-dropdown {
    position: static;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;

  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $link-hover-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }

  span:before {
    top: -10px;
  }

  span:after {
    bottom: -10px;
  }

  &.active span {
    background-color: transparent;

    &:before,
    &:after {
      top: 0;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

@media screen and (min-width: $breakpoint) {


  .nav-list {
    display: block !important;
  }
}


.btn {
  &:hover {
    background-color: $link-hover-color !important;
  }

  background: #5deb98 !important;
  color: $nav-background;
  margin:10px;
}

#div1 {
  margin-top: 3rem;

  #ques {
    text-align: center;
    font-size: xx-large;
  }

  button {
    font-size: large;
    text-align: center;
  }
}

#note {
  margin: 10rem;
}

#res {
  font-size: 26px;
  font-weight: bolder;
  margin-left: 45%;
}



.progress-bar {
  display: flex;
  flex-direction: row !important;
  margin: 40px 0;
  user-select: none;

  .step {
    text-align: center;
    width: 11rem;
    position: relative;

    .bullet {
      height: 28px;
      width: 28px;
      border: 2px solid #000;
      display: inline-block;
      border-radius: 50%;
      position: relative;
      transition: 0.2s;
      font-weight: 500;
      font-size: 17px;
      line-height: 25px;

      &.active {
        border-color: $link-hover-color;
        background: $link-hover-color;

        span {
          display: none;
        }

        &:after {
          background: $link-hover-color;
          transform: scaleX(0);
          transform-origin: left;
          animation: animate 0.3s linear forwards;
        }
      }

      &:before,
      &::after {
        position: absolute;
        content: '';
        bottom: 11px;
        right: -150px;
        height: 3px;
        width: 150px;
        background: #262626;

        @media (max-width: 600px) {
          width: 0;

        }

      }

      span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &:last-child {
      .bullet {

        &:before,
        &::after {
          display: none;
        }
      }
    }

    .check {
      position: absolute;
      left: 50%;
      top: 70%;
      font-size: 15px;
      transform: translate(-50%, -50%);
      display: none;

      &.active {
        display: block;
        color: #fff;
      }
    }
  }

  p {
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin-bottom: 8px;

    &.active {
      color: $link-hover-color;
      transition: 0.2s linear;
    }
  }
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.next {
  display: none;
}

#file {
  height: 50px;
  width: 100%;

}

